<p>&nbsp; &nbsp; &nbsp;{{RestaurantName}}<br /><br /><br /><img src="http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/1975.png&amp;w=350&amp;h=254" alt="Image result for carmelo anthony" width="134" height="97" /><br />{{Item1}}.....{{Price1}}<br />{{Item2}}.....{{Price2}}<br />{{Item3}}.....{{Price3}}</p>
<p>&nbsp;</p>
<p>&nbsp;</p>