<p><span style="background-color: #ffff99;"><span style="background-color: #ffffff;">&nbsp; &nbsp; &nbsp;</span>{{company_Name}}</span></p>
<p><span style="background-color: #ffff99;"><span style="background-color: #ffffff;">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<img src="http://vectorlogofree.com/wp-content/uploads/2014/08/23338-youthedesigner-website-logo-icon-vector-icon-vector-eps.png" alt="Image result for random logo" width="73" height="58" /></span></span></p>
<p><span style="background-color: #ccffcc;">{{full_Name}} {{address}}</span></p>
<p><span style="background-color: #ccffcc;">{{job_Title}} {{phone}}</span></p>