<!DOCTYPE html>
<html lang="en" ng-app="Lates">
<head>
	<meta charset="UTF-8">

	<title>Leaflate - Customizable Layouts</title>
	
	<!-- Main CSS file -->
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/owl.carousel.css" />
	<link rel="stylesheet" href="css/magnific-popup.css" />
	<link rel="stylesheet" href="css/font-awesome.css" />
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/responsive.css" />

	
	<!-- Favicon -->
	<link rel="shortcut icon" href="images/icon/favicon.png">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/icon/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/icon/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/icon/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="images/icon/apple-touch-icon-57-precomposed.png">
	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	<!-- Angular JS Content Delivery Network -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-cookies.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
	<!-- Controllers -->
	<script src="controllers/app.js"></script>
	
</head>

<body ng-controller="ViewController as viewCtrl">
	<!-- PRELOADER -->
	<div id="st-preloader">
		<div id="pre-status">
			<div class="preload-placeholder"></div>
		</div>
	</div>
	<!-- /PRELOADER -->

	

	<!-- HEADER -->
	{{> myPartials/nav}}
	<!-- /HEADER -->
	
	
	<!-- PAGE HEADER -->
	<section id="page-header">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<h1>Checkout</h1>
						<span class="st-border"></span>
					</div>
				</div>
			</div>
		</div>
		<div>
	</div>
	</section>
	<!-- /PAGE HEADER -->

	
	<section id="our-works">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="single-blog">
						<div class="sidebar-widget">
						<h5 class="sidebar-title">Enter the requested payment information</h5>
						<hr>
						</div>

						<form action="/your-server-side-code" method="POST">
						  <script
						    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
						    data-key="pk_test_lqzfsPu3GLT0KgdYBJcFVKzp"
						    data-amount= "{{username}}"
						    data-name="Demo Site"
						    data-description="Widget"
						    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
						    data-locale="auto">
						  </script>
						</form>

						<input type="hidden" id="price" ng-value="viewCtrl.template.price"/>

						
						<div id="wepay_checkout"></div>
						<script type="text/javascript" src="https://www.wepay.com/min/js/iframe.wepay.js">
						</script>

						<script type="text/javascript">
    						WePay.iframe_checkout("wepay_checkout", "{{checkout_uri}}");
						</script>

						{{checkout_uri}}
						{{template}}

						<!--
						<script src="https://checkout.stripe.com/checkout.js"></script>
						<button id="customButton">Purchase</button>

		
						<script>
							var handler = StripeCheckout.configure({
							  key: 'pk_test_lqzfsPu3GLT0KgdYBJcFVKzp',
							  image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
							  locale: 'auto',
							  token: function(token) {
							    // You can access the token ID with `token.id`.
							    // Get the token ID to your server-side code for use.
							    console.log(token.id);
							    console.log(token);


							    newForm = document.createElement('form');
							    newForm.setAttribute("method", "POST");
							    newForm.setAttribute("action", "/checkout");
							    document.body.appendChild(newForm);
							    newForm.submit();

							  }
							});

							document.getElementById('customButton').addEventListener('click', function(e) {
							  // Open Checkout with further options:
							  handler.open({
							    name: 'Demo Site',
							    description: '2 widgets',
							    amount: "{{template.price}}"*100
							  });
							  e.preventDefault();
							});

							// Close Checkout on page navigation:
							window.addEventListener('popstate', function() {
							  handler.close();
							});
						</script>
					-->


						
<!--

						
						<form id="checkout" method="post" action="/checkout">
						  <div id="payment-form"></div>
						  <input type="hidden" name="templateID" value="{[{viewCtrl.template._id}]}">
						  <input type="hidden" name="templateAuthor" value="{[{viewCtrl.template.author}]}">
						  <input type="hidden" name="price" value="{[{viewCtrl.template.price}]}">
						  <input type="submit" class="btn btn-primary" value="Pay ${[{viewCtrl.template.price}]}">
						</form>


						<script src="https://js.braintreegateway.com/js/braintree-2.30.0.min.js"></script>
						<script>
							var token = "{{{clientToken}}}";

							braintree.setup(token, "dropin", {
							  container: "payment-form"
							});
						</script>

-->s



					</div>
				
					<hr>
				</div>
					
				</div><!-- end of col 3 -->
			</div><!-- end of row -->
		</div><!-- end of container -->
	</section>

	<!--
						<br>
						<h5 class="sidebar-title">If you are logged out and redirected to the home page, there was an error with the transaction.
						Please try again</h5>
						<br>
						<h5 class="sidebar-title"> Upon successful transaction, you will be redirected to a confirmation page with your purchased template's details can be found.</h5>
						<br>
-->


	<!-- FOOTER -->
	{{> myPartials/footer}}
	<!-- /FOOTER -->

	<!-- Scroll-up -->
	<div class="scroll-up">
		<ul><li><a href="#header"><i class="fa fa-angle-up"></i></a></li></ul>
	</div>
	
	<!-- JS -->
	<script type="text/javascript" src="js/jquery.min.js"></script><!-- jQuery -->
	<script type="text/javascript" src="js/bootstrap.min.js"></script><!-- Bootstrap -->
	<script type="text/javascript" src="js/jquery.parallax.js"></script><!-- Parallax -->
	<script type="text/javascript" src="js/smoothscroll.js"></script><!-- Smooth Scroll -->
	<script type="text/javascript" src="js/masonry.pkgd.min.js"></script><!-- masonry -->
	<script type="text/javascript" src="js/jquery.fitvids.js"></script><!-- fitvids -->
	<script type="text/javascript" src="js/owl.carousel.min.js"></script><!-- Owl-Carousel -->
	<script type="text/javascript" src="js/jquery.counterup.min.js"></script><!-- CounterUp -->
	<script type="text/javascript" src="js/waypoints.min.js"></script><!-- CounterUp -->
	<script type="text/javascript" src="js/jquery.isotope.min.js"></script><!-- isotope -->
	<script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script><!-- magnific-popup -->
	<script type="text/javascript" src="js/scripts.js"></script><!-- Scripts -->
	

	
	<script type="text/javascript" src="/js/minicart.js"></script>
	<script
		//paypal.minicart.render();
		paypal.minicart.render({
            action: 'https://www.paypal.com/cgi-bin/webscr'
        });
		
		if (~window.location.search.indexOf('reset=true')) {
            paypal.minicart.reset();
        }
	>


</body>
</html>