<!DOCTYPE html>
<html lang="en" ng-app="Lates">
<head>
  <meta charset="UTF-8">

  <title>Lates - Customizable Layouts</title>
  
  <!-- Main CSS file -->
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/owl.carousel.css" />
  <link rel="stylesheet" href="css/magnific-popup.css" />
  <link rel="stylesheet" href="css/font-awesome.css" />
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/responsive.css" />

  
  <!-- Favicon -->
  <link rel="shortcut icon" href="images/icon/favicon.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/icon/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/icon/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/icon/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="images/icon/apple-touch-icon-57-precomposed.png">
  
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  
</head>
<body>
  <!-- PRELOADER -->
  <div id="st-preloader">
    <div id="pre-status">
      <div class="preload-placeholder"></div>
    </div>
  </div>
  <!-- /PRELOADER -->

  

  <!-- HEADER -->
  <header id="header">
    <nav class="navbar st-navbar navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#st-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="logo" href="/">Lates<img src="" alt=""></a>
        </div>

        <div class="collapse navbar-collapse" id="st-navbar-collapse" ng-controller="NavController">
          <ul class="nav navbar-nav navbar-right">
              <li><a href="/">Home</a></li>
              <li><a href="/#services">Services</a></li>
              <li><a href="/#our-works">Samples</a></li>
              <li><a href="/#contact">Contact</a></li>
              <li><a href="/store">Store</a></li>
            {{#unless username}}
              <li><a href="/login" >Log In</a></li>
            {{else}}            
               <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Profile
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Welcome {{username}}</a></li>
                  <li><a href="/create">Create a Template</a></li>
                  <li><a href="/my_template">View my Templates</a></li>
                  <li><a href="/logout">Log out</a></li> 
                </ul>
               </li>
            <!--<li><a href="/" ng-show="loggedin" ng-click="logout()">Log Out {[{user.name}]}</a></li>-->
            {{/unless}}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
  </header>
  <!-- /HEADER -->
  
  
  <!-- PAGE HEADER -->
  <section id="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title">
            <h1>Order Summary</h1>
            <span class="st-border"></span>
          </div>
        </div>
      </div>
    </div>
    <div>
  </div>
  </section>
  <!-- /PAGE HEADER -->

      
  
  <section id="our-works">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          
          <div class="single-blog">
            <style>
                table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }
           </style>

          <table class="transaction-table" padding="1" spacing="1">                        
            <tr>                        
              <th>Transaction ID</th>
              <td>{{transaction.transaction.id}}</td>
            </tr>
            <tr>                        
              <th>Type of Credit Card</th>
              <td>{{transaction.transaction.creditCard.cardType}}</td>
            </tr>
            <tr>                        
              <th>Last Four Digits of Credit Card</th>
              <td>{{transaction.transaction.creditCard.last4}}</td>
            </tr>
            <tr>                        
              <th>Expiration Date of Credit Card</th>
              <td>{{transaction.transaction.creditCard.expirationDate}}</td>
            </tr>
            <tr>                       
              <th>Transaction Location</th>
              <td>{{transaction.transaction.creditCard.customerLocation}}</td>
            </tr>
            <tr>                        
              <th>Transaction Status</th>
              <td>{{transaction.transaction.status}}</td>
            </tr>
            <tr>                        
              <th>Transaction Amount   </th>
              <td>{{transaction.transaction.amount}} {{transaction.transaction.currencyIsoCode}}</td>
            </tr>
          </table>
          </div>
          <hr>
        </div>
        {{transaction.templateID}}
        {{transaction.templateData}}
        
        <div class="col-md-6">
        
          <div class="sidebar-widget">

            <h5 class="sidebar-title">Here is a preview of your template that you purchased</h5>
            <h5> {{> (partial transaction.templateID) transaction.templateData }}</h5>

            
          </div>
          <div class="sidebar-widget">
            <form method="post" action="/render_template">
              <input type="hidden" name="transactionID" value="{{transaction.transaction.id}}">
              <button type="submit" class="btn btn-primary">Click here to download your PDF version of the template</button>
            </form>
              
          </div>  
          
        </div><!-- end of col 3 -->
      </div><!-- end of row -->
    </div><!-- end of container -->
  </section>

  <!-- FOOTER -->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <!-- SOCIAL ICONS -->
        <div class="col-sm-6 col-sm-push-6 footer-social-icons">
          <span>Follow us:</span>
          <a href=""><i class="fa fa-facebook"></i></a>
          <a href=""><i class="fa fa-twitter"></i></a>
          <a href=""><i class="fa fa-google-plus"></i></a>
          <a href=""><i class="fa fa-pinterest-p"></i></a>
        </div>
        <!-- /SOCIAL ICONS -->
        <div class="col-sm-6 col-sm-pull-6 copyright">
          <p>&copy; 2016 <a href="/index">Lates</a>. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- /FOOTER -->

  <!-- Scroll-up -->
  <div class="scroll-up">
    <ul><li><a href="#header"><i class="fa fa-angle-up"></i></a></li></ul>
  </div>
  
  <!-- JS -->
  <script type="text/javascript" src="js/jquery.min.js"></script><!-- jQuery -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script><!-- Bootstrap -->
  <script type="text/javascript" src="js/jquery.parallax.js"></script><!-- Parallax -->
  <script type="text/javascript" src="js/smoothscroll.js"></script><!-- Smooth Scroll -->
  <script type="text/javascript" src="js/masonry.pkgd.min.js"></script><!-- masonry -->
  <script type="text/javascript" src="js/jquery.fitvids.js"></script><!-- fitvids -->
  <script type="text/javascript" src="js/owl.carousel.min.js"></script><!-- Owl-Carousel -->
  <script type="text/javascript" src="js/jquery.counterup.min.js"></script><!-- CounterUp -->
  <script type="text/javascript" src="js/waypoints.min.js"></script><!-- CounterUp -->
  <script type="text/javascript" src="js/jquery.isotope.min.js"></script><!-- isotope -->
  <script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script><!-- magnific-popup -->
  <script type="text/javascript" src="js/scripts.js"></script><!-- Scripts -->
  
  <!-- Angular JS Content Delivery Network -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-cookies.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
  <!-- Controllers -->
  <script src="controllers/app.js"></script>
  
  <script type="text/javascript" src="/js/minicart.js"></script>
  <script
    //paypal.minicart.render();
    paypal.minicart.render({
            action: 'https://www.paypal.com/cgi-bin/webscr'
        });
    
    if (~window.location.search.indexOf('reset=true')) {
            paypal.minicart.reset();
        }
  >


</body>
</html>